# Ignore node_modules
node_modules/

# Ignore .env files
.env

# Ignore build files
.next/
out/

# Ignore lock files
package-lock.json
yarn.lock

# Ignore logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore IDE configurations
.vscode/
.idea/
